{% extends "blog/base.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content| safe }}</p>
        <strong class="text-secondary">{{ post.votes.count }} Vote{{ post.votes.count|pluralize }}</strong>
        
    </div>
</article>
{% endfor %}
{% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor%}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
{% endblock content%}

{% block friend_list %}
<div class="content-section">
    <h3>Friends</h3>
    <p>Checkout your friends and continue your conversations.</p>
    <ul class="list-group">
        {% for friend in friends %}
            {% with request.user.username as current_user %}
                {% if friend.friend.username < current_user %}
                    {% with room_name=friend.friend.username|add:"_"|add:current_user %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ friend.friend.username }}</a> - Last Seen: 
                            {% for lastseen in friends_lastseen %}
                                {% if lastseen.user__username == friend.friend.username %}
                                    {{ lastseen.lastseen }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endwith %}
                {% else %}
                    {% with room_name=current_user|add:"_"|add:friend.friend.username %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ friend.friend.username }}</a> - Last Seen: 
                            {% for lastseen in friends_lastseen %}
                                {% if lastseen.user__username == friend.friend.username %}
                                    {{ lastseen.lastseen }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endblock friend_list %}

{% block group_list %}
<div class="content-section">
    <h3>Your Groups</h3>
    <p>Chat with your friends at once.</p>
    <div class="text-center">
        {% if user.is_authenticated %}
            <a href="{% url 'create_group' %}">Create Group</a>
        {% endif %}
        
    </div>
    <ul class="list-group">
        {% for group in groups %}
            <li class="list-group-item list-group-item-light">
                <a href="{% url 'room' group.name %}">{{ group.name}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock group_list %}

{% block other_list %}
<div class="content-section">
    <h3>Add Friends</h3>
    <p>Make new friends and start new conversations.</p>
    <ul class="list-group">
        {% for other in others_list %}
            {% with request.user.username as current_user %}
                {% if other.username < current_user %}
                    {% with room_name=other.username|add:"_"|add:current_user %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ other.username }}</a>
                        </li>
                    {% endwith %}
                {% else %}
                    {% with room_name=current_user|add:"_"|add:other.username %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'add_friend' other.username %}">{{ other.username }}</a>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endblock other_list %}
