{% extends "blog/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <form method="post" novalidate>
        {% csrf_token %}
        <fieldset class="form groupr">
            <legend class="border-bottom mb-4" >Blog Post</legend>
            <!-- {{ form|crispy }} -->

            {{ form.media }}
            {{ form.as_p }}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("id_content") });
    </script>

</div>

{% endblock content %}