<!-- your_template_name.html -->
{% extends "blog/base.html" %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  {% comment %} <p>Number of votes: {{ number_of_votes }}</p>

  {% if post_is_voted %}
    <p>You have already voted.</p>
  {% else %}
    <form method="post" action="{% url 'post-vote' pk=post.pk %}">
      {% csrf_token %}
      <input type="submit" value="Vote">
    </form>
  {% endif %} {% endcomment %}

  <!-- Display Comments -->
  <h2>Comments</h2>
  {% for comment in comments %}
    <p>{{ comment.author.username }} says: {{ comment.text }}</p>
  {% endfor %}

  <!-- Add Comment Form -->
  <h2>Add Comment</h2>
  <form method="post" action="{% url 'add-comment' pk=post.pk %}">
    {% csrf_token %}
    <textarea name="text" required></textarea>
    <br>
    <input type="submit" value="Add Comment">
  </form>
{% endblock %}
