body {
  background-color: #20272d;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cccccc;
}
.bg-steel {
  background-color: #354754;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.content-section {
  background: #2b343c;
  border: 1px solid rgba(128, 128, 128, 0.318);
}
.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #57b1ff;
  text-decoration: none;
}
.article-metadata {
  border-bottom: 1px solid #5c5c5c;
}
.article-metadata a:hover {
  color: #d1d1d1;
}
.list-group-item {
  background-color: #2c2c2c !important;
  color: white !important;
}
a {
  color: #57b1ff;
}
