@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,600;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e2e8ec;
  color: #3c5362;
  margin-top: 5rem;
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3c5362;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #3c5362;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  position: relative;
}
.site-header .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 100%;
  background-color: #cbd5db;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms ease-in-out;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  padding-top: 5em !important;
  position: relative;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 20px;
  margin: 20px;
  padding-inline: 2em;
  padding-block: 2em;
}

.article-title {
  color: #302265;
  font-size: 3rem;
  font-weight: 700;
  transition: color 0.5s;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  padding-block: 2rem;
}

.article-img {
  height: 3rem;
  width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-height: 3rem;
  max-width: 3rem;
  margin-right: 16px;
  border: 1px solid rgba(128, 128, 128, 0.289);
  overflow: hidden;
}

.article-metadata {
  top: 1em;
  position: absolute;
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
/* .django-ckeditor-widget{
  width: 10%;
} */
.list-group-item {
  margin-block: 5px;
  border-radius: 10px !important;
  background: #f6fbff !important;
  color: #a0c8e7 !important;
  border: none !important;
  box-shadow: 1px 2px 0px #00000017;
  word-break: break-all;
}
.createGroupButton {
  padding: 10px 20px;
  border-radius: 10px;
  background: #333;
  margin-bottom: 1em;
}
.createGroupButton a {
  color: white !important;
}
.col-md-4 {
  padding: 0 !important;
}
.col-md-8 {
  padding: 0 !important;
}
