<style>
    .sent-bubble {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-left: auto; /* Indent to the right */
        align-self: flex-end;
        max-width: 70%; /* Adjust max-width as needed */
    }

    .received-bubble {
        background-color: #e0e0e0;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-right: auto; /* Indent to the left */
        align-self: flex-start;
        max-width: 70%; /* Adjust max-width as needed */
    }

    .chat-container {
        height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;
        overflow-y: auto;
    }
    .icon {
        width: 12px; /* Adjust the width as needed */
        height: 12px; /* Adjust the height as needed */
    }
    .sent-link {
        color: #fff; /* Set the text color to white or a color that contrasts with the blue bubble */
        text-decoration: underline; /* Underline the link */
        transition: color 0.3s, font-weight 0.3s;
    }
    .sent-link:hover {
        color: #f7f723;
        font-weight: bold;
    }
</style>
{% extends "blog/base.html" %}
    {% block content %}

    <body>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="form-group d-flex">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">{{room_name}}</label>
                        {% comment %} <a class="btn btn-outline-info" href="{% url 'meeting' %}" target="_blank" style="margin-left:515px;">Video Call / Call</a> {% endcomment %}
                        <a class="btn btn-outline-info ml-auto align-self-end" href="{% url 'meeting' %}" target="_blank">Video Call / Call</a>
                            {% comment %} <a style="text-align: left;"class="btn btn-outline-info" href="{% url 'meeting' %}" target="_blank">Video Call / Call</a> {% endcomment %}
                        {% comment %} <label for="exampleFormControlTextarea1" class="h4 pt-5">{{ request.scheme }}:{{ request.get_host }}</label> {% endcomment %}
                    </div>
                    <div id="chat-container" class="chat-container">
                        {% for message in messages %}
                            {% comment %} console.log("{{ message.message_content }}"); {% endcomment %}
                            <div class="{% if message.sender_username == request.user.username %}sent-bubble{% else %}received-bubble{% endif %}">
                                {% comment %} {% if message.sender_username == request.user.username %}
                                    <a href="{% url 'edit_msg' message.message_id %}" class="sent-link" data-toggle="tooltip" data-placement="top" title="Edit or Delete">{{ message.sender_username }}</a>:
                                    {{ message.message_content }}
                                {% else %}
                                    {{ message.sender_username }}: {{ message.message_content}}
                                {% endif %} {% endcomment %}

                                {% if message.sender_username == request.user.username %}
                                    <a href="{% url 'edit_msg' message.message_id %}" class="sent-link" data-toggle="tooltip" data-placement="top" title="Edit or Delete">{{ message.sender_username }}</a>:
                                        {% if "~link~" in message.message_content %}
                                            {% comment %} <a href="{{ message.message_id }}" class="sent-link" data-toggle="tooltip" target="_blank">{{ message.message_content }}</a> {% endcomment %}
                                            <a href="{% url 'redirect_out' message.message_id %}" class="sent-link" data-toggle="tooltip" target="_blank">{{ message.message_content }}</a>
                                            {% comment %} <a href="{% url 'link' message.message_content %}" class="sent-link" data-toggle="tooltip" target="_blank">{{ message.message_content }}</a> {% endcomment %}
                                        {% else %}
                                            {{ message.message_content }}
                                        {% endif %}
                                {% else %}
                                    {{ message.sender_username }}:
                                    {% if "~link~" in message.message_content %}
                                        {% comment %} <a href="{{ message.message_id }}" target="_blank">{{ message.message_content }}</a> {% endcomment %}
                                        <a href="{% url 'redirect_out' message.message_id %}" target="_blank">{{ message.message_content }}</a>
                                        {% comment %} <a href="{% url 'link' message.message_content %}" target="_blank">{{ message.message_content }}</a> {% endcomment %}
                                    {% else %}
                                        {{ message.message_content }}
                                    {% endif %}
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                    
                    <form method="post" action="{% url 'room' room_name %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="input" type="text">
                        </div>
                        <div class="d-flex justify-content-around">
                            <input class="btn btn-secondary btn-lg mr-1" id="submit" type="submit" value="Send">
                            <input class="btn btn-secondary btn-lg mr-1" id="upload_file" type="button" value="Send Link">
                            <button class="btn btn-secondary btn-lg mr-1" type="button" onclick="location.href='{% url 'stream:user-videos' user.username %}'">Upload</button>
                            <a class="btn btn-secondary btn-lg mr-1" href="{% url 'export_chat' room_name %}">Export Chat</a>
                            {% comment %} <a class="btn btn-secondary btn-lg" href="{% url 'meeting' %}">Video Call</a> {% endcomment %}
                        </div>
                    </form>
                    
                    
                    
                </div>
            </div>
        </div>

    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatContainer = document.getElementById('chat-container');
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );
    
        Notification.requestPermission();
    
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
    
            // Create a message bubble element
            const messageBubble = document.createElement('div');
            messageBubble.className = data.username === user_username ? 'sent-bubble' : 'received-bubble';
            messageBubble.innerText = data.username + ': ' + data.message;
    
            // Append the message bubble to the chat container
            chatContainer.appendChild(messageBubble);
    
            // Scroll to the bottom of the chat container
            chatContainer.scrollTop = chatContainer.scrollHeight;
    
            // Show desktop notification
            if (document.visibilityState !== 'visible') { // Check if the document is not visible
                const notification = new Notification('New Message', {
                    body: data.username + ': ' + data.message
                });
    
                // Optional: Handle click on the notification
                notification.onclick = function () {
                    // Do something when the notification is clicked
                    // You can navigate to a specific page or handle the click event as needed
                };
            }
        };
    
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value.trim(); // Trim removes leading and trailing whitespaces
    
            if (message !== '') { // Check if the message is not blank
                const chatContainer = document.getElementById('chat-container');
                chatContainer.scrollTop = chatContainer.scrollHeight;
    
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': user_username,
                }));
            }
    
            messageInputDom.value = '';
        };
    
        document.querySelector('#upload_file').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            var serveraddress = window.location.host;
            chatSocket.send(JSON.stringify({
                {% comment %} 'message': "~link~" + serveraddress + message, {% endcomment %}
                'message': "~link~" + message,
                'username': user_username,
            }));
            messageInputDom.value = '';
        };
    </script>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
{% endblock content%}

{% block friend_list %}
<div class="content-section">
    <h3>Friends</h3>
    <p>Checkout your friends and continue your conversations.</p>
    <ul class="list-group">
        {% for friend in friends %}
            {% with request.user.username as current_user %}
                {% if friend.friend.username < current_user %}
                    {% with room_name=friend.friend.username|add:"_"|add:current_user %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ friend.friend.username }}</a> - Last Seen: 
                            {% for lastseen in friends_lastseen %}
                                {% if lastseen.user__username == friend.friend.username %}
                                    {{ lastseen.lastseen }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endwith %}
                {% else %}
                    {% with room_name=current_user|add:"_"|add:friend.friend.username %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ friend.friend.username }}</a> - Last Seen: 
                            {% for lastseen in friends_lastseen %}
                                {% if lastseen.user__username == friend.friend.username %}
                                    {{ lastseen.lastseen }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endblock friend_list %}

{% block group_list %}
<div class="content-section">
    <h3>Your Groups</h3>
    <p>Chat with your friends at once.</p>
    <div class="text-center">
        <a href="{% url 'create_group' %}">Create Group</a>
    </div>
    <ul class="list-group">
        {% for group in groups %}
            <li class="list-group-item list-group-item-light">
                <a href="{% url 'room' group.name %}">{{ group.name}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock group_list %}

{% block other_list %}
<div class="content-section">
    <h3>Add Friends</h3>
    <p>Make new friends and start new conversations.</p>
    <ul class="list-group">
        {% for other in others_list %}
            {% with request.user.username as current_user %}
                {% if other.username < current_user %}
                    {% with room_name=other.username|add:"_"|add:current_user %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ other.username }}</a>
                        </li>
                    {% endwith %}
                {% else %}
                    {% with room_name=current_user|add:"_"|add:other.username %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'add_friend' other.username %}">{{ other.username }}</a>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endblock other_list %}