{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{sender_username}} in {{chatroom_name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="{% url 'edit_msg' msg_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editContent">Change your message:</label>
                        <input type="text" class="form-control" id="editContent" name="editContent" value="{{content}}">
                    </div>
                    <div class="form-group">
                        <label for="deleteDuration">Keep for:</label>
                        <select class="form-control" id="deleteDuration" name="deleteDuration">
                            <option value="forever" {% if time is None %}selected{% endif %}>Forever</option>
                            <option value="1" {% if time == 3600 %}selected{% endif %}>1 Hour</option>
                            <option value="8" {% if time == 28800 %}selected{% endif %}>8 Hours</option>
                            <option value="24" {% if time == 86400 %}selected{% endif %}>1 Day</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Change</button>
                        <a href="{% url 'delete_chat' msg_id %}" class="btn btn-danger ml-2">Delete</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


{% block friend_list %}
<div class="content-section">
    <h3>Friends</h3>
    <p>Checkout your friends and continue your conversations.</p>
    <ul class="list-group">
        {% for friend in friends %}
            {% with request.user.username as current_user %}
                {% if friend.friend.username < current_user %}
                    {% with room_name=friend.friend.username|add:"_"|add:current_user %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ friend.friend.username }}</a> - Last Seen: 
                            {% for lastseen in friends_lastseen %}
                                {% if lastseen.user__username == friend.friend.username %}
                                    {{ lastseen.lastseen }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endwith %}
                {% else %}
                    {% with room_name=current_user|add:"_"|add:friend.friend.username %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ friend.friend.username }}</a> - Last Seen: 
                            {% for lastseen in friends_lastseen %}
                                {% if lastseen.user__username == friend.friend.username %}
                                    {{ lastseen.lastseen }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endblock friend_list %}

{% block other_list %}
<div class="content-section">
    <h3>Add Friends</h3>
    <p>Make new friends and start new conversations.</p>
    <ul class="list-group">
        {% for other in others_list %}
            {% with request.user.username as current_user %}
                {% if other.username < current_user %}
                    {% with room_name=other.username|add:"_"|add:current_user %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'room' room_name %}">{{ other.username }}</a>
                        </li>
                    {% endwith %}
                {% else %}
                    {% with room_name=current_user|add:"_"|add:other.username %}
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'add_friend' other.username %}">{{ other.username }}</a>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endblock other_list %}