{% extends "blog/base.html" %}
<!-- {% load crispy_forms_tags%} -->
{% block content %}
{% if user_detail.is_superuser %}

<div class="container">
<form method="post" action="" >
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
<input type="submit" class="btn btn-secondary" value="Submit">
</form>

</div>
{% endif %}
<!-- <label for="title"> <b>Title:</b>  </label>
<input type="text" name="title">

<label><b>Descripton:</b></label>
{{form.media}}
<textarea name="announce" cols="40" rows="1" ></textarea>

<div> --> 

<div class="container">

{% for announces in announcements %}
    <h2>{{announces.title}}</h2>
    <p>{{announces.description|safe}}</p>

{% endfor %}
</div>

{% endblock content%}