{% extends "blog/base.html" %} {% load crispy_forms_tags%} {% block content %}
<section class="container">
  <div class="row content d-flex justify-content-center">
    <div class="col-md-8">
      <div class="box shadow bg-warning p-4">
        <div
          class="content-section bg-image"
          style="
            background-image: url('https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bG9naW58ZW58MHx8MHx8&w=1000&q=80');
          "
        >
          <form method="post">
            {% csrf_token %}
            <fieldset class="form group">
              <legend class="mb-4 text-center">Login</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-dark border-0 rounded-5" type="submit">
                Login
              </button>
              <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}">Forgot Password ?</a>
              </small>
            </div>
          </form>
          <div class="border-top pt-3">
            <small class="text-muted"
              >Need an account ?
              <a class="ml-2" href="{% url 'register' %}">Sign In</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
