{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

        </div>
      {% endif %}

    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content| safe }}</p>
    {% if user.is_authenticated %}
      <form action="{% url 'post_vote' object.id %}" method="POST">
      {% csrf_token %}
      {% if post_is_voted %}
        <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
      {% else %}
        <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Like</button>
      {% endif %}
      </form>
      <h5>Comments</h5>
      {% for comment in comments %}
        <p>{{ comment.author.username }} says: {{ comment.text }}</p>
      {% endfor %}

      <!-- Add Comment Form -->
      <h5>Add Comment</h5>
      <form method="post" action="{% url 'add-comment' pk=post.pk %}">
        {% csrf_token %}
        <textarea class="form-control" name="text" required></textarea>
        <br>
        <input class="btn btn-outline-info" type="submit" value="Add Comment">
      </form>
  {% else %}
    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to vote this article!</a><br>
{% endif %}
<strong class="text-secondary">{{ number_of_votes }} Vote{{ number_of_votes|pluralize }}</strong>
<a href="{% url 'favourite_add' post.id %}" style="margin-left: 550px;position: relative;top:-60px;"><button class="btn btn-info">&hearts;</button></a>
  </div>
</article>
{% endblock content %}